<div class="row gy-6 gy-lg-0">
  <!-- Logo + Réseaux -->
  <div class="col-md-4 col-lg-3">
    <div class="widget">
      <img class="mb-4" src="@@webRoot/assets/img/logo-light.svg" alt="Digitoyou" />
      <p class="mb-4 small">Digitoyou © 2025. Tous droits réservés.</p>
      <ul class="list-unstyled mb-1">
      </ul>
      <nav class="nav social">
        <a href="#"><i class="uil uil-instagram text-primary"></i></a>
        <a href="#"><i class="uil uil-linkedin text-primary"></i></a>
      </nav>
    </div>
  </div>

  <!-- Contact -->
  <div class="col-md-4 col-lg-3">
    <div class="widget">
      <h4 class="widget-title mb-3 text-light">Contact</h4>
      <a href="#" class="btn btn-primary btn-sm  rounded-xl mb-lg-4 mb-md-4">hello@digitoyou.com</a>
      <a href="#" class="btn btn-primary btn-sm  rounded-xl px-lg-6 px-md-6 ">+1 866 306 4636</a>
      <p></p>
    </div>
  </div>

  <!-- Ressources -->
  <div class="col-md-4 col-lg-3 ">
    <div class="widget">
      <h4 class="widget-title mb-3 text-light">Ressources</h4>
      <ul class="list-unstyled mb-0">
        <li><a href="#">Blog</a></li>
        <li><a href="#">Mentions légales</a></li>
        <li><a href="#">Politique de confidentialité</a></li>
      </ul>
    </div>
  </div>

  <!-- Découvrir -->
  <div class="col-md-12 col-lg-3">
    <div class="widget">
      <h4 class="widget-title mb-3 text-light">Découvrir</h4>
      <ul class="list-unstyled mb-0">
        <li><a href="#">À propos de nous</a></li>
        <li><a href="#">Nos services</a></li>
      </ul>
    </div>
  </div>
</div>
