@@if (!context.centerLogo) {
<ul class="navbar-nav">
  }
@@if (context.centerLogo) {
  <div class="w-100 order-1 order-lg-0 d-lg-flex offcanvas-body">
    <ul class="navbar-nav ms-lg-auto">
      }
      <li class="nav-item ">
        <a class="nav-link" href="about.html" data-i18n-href="links.about"><span data-i18n="nav.about">A propos</span></a>
      </li>
      <li class="nav-item dropdown">
        <li class="nav-item ">
          <a class="nav-link" href="blog2.html" data-i18n-href="links.blog"><span data-i18n="nav.blog">Blog</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="contact.html" data-i18n-href="links.case_client"><span data-i18n="nav.case_client">Cas Client</span></a>
        </li>
      </li>
        @@if (context.centerLogo) {
      </ul>
      <!-- /.navbar-nav -->
  </div>
  <div class="w-100 order-3 order-lg-2 d-lg-flex offcanvas-body">
    <ul class="navbar-nav me-lg-auto">
      }
      @@if (context.centerLogo) {
    </ul>
    <!-- /.navbar-nav -->
  </div>
}
@@if (!context.centerLogo) {
</ul>
<!-- /.navbar-nav -->
}